<div class="col-md-2">
  <div class="bg-dark py-5">
    <h2 class="text-gold px-3">Menu</h2>
    <hr class="bg-light mt-n2 mb-4"></hr>
    <% genres.each do |genre| %>
      <p class="text-white px-3"><i class="fa-solid fa-caret-right"></i>  <%= genre.name %></p>
    <% end %>
  </div>
</div>