<div class="container pt-5">
  <h5 class="d-inline p-2 px-5 bg-dark text-white"><strong>管理者ログイン</strong></h5>


    <%= form_with model: @admin, url: admin_session_path do |f| %>
      <div class="row justify-content-center pt-5">
        <div class="col-md-2 pt-2 form-group">
          <label_for="email">メールアドレス</label>
        </div>
        <div class="col-md-7">
          <%= f.email_field :email, class: "form-control", autocomplete: "email", autofocus: true, placeholder: "email@example.com", id: "email" %>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-2 pt-2 form-group">
          <label_for="password">パスワード</label>
        </div>
        <div class="col-md-7">
          <%= f.password_field :password, class: "form-control", autocomplete: "current-password", id: "password" %>
        </div>
      </div>

      <div class="row justify-content-center pt-3">
        <div class="col-md-2 form-group">
          <label_for></label>
        </div>
        <div class="col-md-7 actions">
          <%= f.submit " 　ログイン 　", class: "btn btn-sm btn-primary" %>
        </div>
      </div>

    <% end %>

</div>
