<div class="container">
      <div class="row justify-content-center">

        <div class="col-md-6 py-5">
          <h1 class="text-gold text-right px-3">About</h1>
          <hr class="menu-line border-dark mt-n4 text-right"></hr>
          <p class="py-2">
            ながのCAKEは全国発送可能なケーキ屋さんです。<br>
            お子様からお年寄りの方までお召し上がりいただけるよう、<br>
            様々なバリエーションをご用意しております。<br>
            <br>
            また、全国へ発送可能ですので「いつ」でも「どこ」でも<br>
            ご注文いただけます。<br>
            <br>
            ぜひご注文ください。
          </p>
        </div>

        <div class="col-md-3 p-0">
          <%= image_tag 'visual02.jpg', class: "img-fluid" %>
        </div>

      </div>
</div>