<div class="container bg-img text-center h-100 py-5">

  <h2 class="mt-5"><i class="fa-solid fa-cake-candles"></i></h2>
  <h1 class="text-danger">Thank You</h1>
  <h5 class="font-weight-bold text-muted">ご注文が完了しました！</h5>
  <p class="small py-4">
    発送までしばらくお待ちください．．．<i class="fa-solid fa-truck"></i>
  </p>

  <div class="bg-gold w-50 p-4 mt-5 mx-auto">
    <%= link_to "ご注文内容のご確認はこちらから (マイページに移動します) ", orders_path, class: "text-dark" %>
  </div>

</div>