

.text_small {
  font-size: 14px;
}

.menu-title {
  font-family: 'DM Serif Display','Zen Antique Soft',sans-serif;
}

.menu-heading {
  max-width: 320px;
  border-bottom: 15px solid #343a40;
  line-height: 0.4;
}

.bg-dark_red {
  background-color: #66091c;
}

.bg-gold {
  background-color: #c1ab05;
}

.text-dark_red {
  color: #66091c;
}

.text-gold {
  color: #c1ab05;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
