h1, h2 {
  z-index: 20;
  font-family: 'Lobster', 'Zen Antique', serif;
}

.main-visual {
  height: 390px;
  background-image: url(visual-01.jpg);
  background-size: cover;
  background-position: top;
  z-index: 10;
}

.about-visual {
  height: 800px;
  background-image: url(visual-02.jpg);
  background-size: cover;
  background-position: top;
  z-index: 10;
}

.bg-img {
  background-image: url(background.jpg);
  background-repeat: repeat;
  z-index: 0;
}

.bg-img-half {
  background-image: url(background.jpg);
  background-repeat: repeat-x;
  z-index: 0;
}

.menu-title {
  font-family: 'DM Serif Display','Zen Antique Soft',sans-serif;
}

.menu-line {
  border: 10px solid;
}

.bg-dark_red {
  background-color: #66091c;
}

.bg-gold {
  background-color: #c1ab05;
}

.text-gold {
  color: #c1ab05;
}


.pagination>li>a {
  border: none;
  color: #343a40;
}

.pagination>.active>a {
  background: #343a40 !important;
}

.pagination>li>a:hover {
  color: #343a40;
}

.search::placeholder {
  color: #343a40;
}